body{
 background-color:lightpink;
}
h1{
  color:black;
  font-family: 'Crimson Text', serif;
}
hr{
  color:darkmagenta;
}
div{
width:60%;
margin:auto;

}
img:hover{
  box-shadow: 0 4px 4px 0 rgba(128, 128, 128, 0.301);
}
